
/* HEX */
$water: #5fe5e4ff;
$light-grass: #5bcb84ff;
$dark-grass: #3d7068ff;
$ground: #544b3dff;
$sbu-red: #df2935ff;

$body-bg: #5fe5e4ff;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

/*
:root {
    --water: #5fe5e4ff;
    --light-grass: #5bcb84ff;
    --dark-grass: #3d7068ff;
    --ground: #544b3dff;
    --sbu-red: #df2935ff;
}
*/